---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: {{ meta.namespace }}
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
      name: grafana
    spec:
      serviceAccountName: {{ grafana_service_account }}
      containers:
      - name: oauth-proxy
        args:
          - '-https-address=:3000'
          - '-http-address='
          - '-email-domain=*'
          - '-client-id=system:serviceaccount:{{ meta.namespace }}:{{ grafana_service_account }}'
          - '-upstream=http://localhost:3001'
          - '-provider=openshift'
          - '-openshift-sar={"namespace": "{{ meta.namespace }}", "verb": "list", "resource": "services"}'
          - '-tls-cert=/etc/tls/private/tls.crt'
          - '-tls-key=/etc/tls/private/tls.key'
          - '-client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token'
          - '-cookie-secret-file=/etc/proxy/secrets/session_secret'
          - '-openshift-service-account=grafana'
          - '-openshift-ca=/etc/pki/tls/cert.pem'
          - '-openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
          - '-skip-auth-regex=^/metrics,/api/datasources,/api/dashboards'
        image: "{{ registry }}/openshift3/oauth-proxy:{{ openshift_version }}"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
{% if oauth_proxy_memory_request is defined and oauth_proxy_memory_request is not none %}
            memory: "{{ oauth_proxy_memory_request }}"
{% endif %}
{% if oauth_proxy_cpu_request is defined and oauth_proxy_cpu_request is not none %}
            cpu: "{{ oauth_proxy_cpu_request }}"
{% endif %}
          limits:
{% if oauth_proxy_memory_limit is defined and oauth_proxy_memory_limit is not none %}
            memory: "{{ oauth_proxy_memory_limit }}"
{% endif %}
{% if oauth_proxy_cpu_limit is defined and oauth_proxy_cpu_limit is not none %}
            cpu: "{{ oauth_proxy_cpu_limit }}"
{% endif %}
        ports:
        - containerPort: 3000
          name: https
        volumeMounts:
        - mountPath: /etc/tls/private
          name: grafana-tls-secret
        - mountPath: /etc/proxy/secrets
          name: grafana-proxy-secrets

      - name: grafana
        args:
          - '-config=/etc/grafana/grafana.ini'
        image: "{{ registry }}/openshift3/grafana:{{ openshift_version }}"
        imagePullPolicy: {{ cluster_default_image_pull_policy }}
        resources:
          requests:
{% if grafana_memory_request is defined and grafana_memory_request is not none %}
            memory: "{{ grafana_memory_request }}"
{% endif %}
{% if grafana_cpu_request is defined and grafana_cpu_request is not none %}
            cpu: "{{ grafana_cpu_request }}"
{% endif %}
          limits:
{% if grafana_memory_limit is defined and grafana_memory_limit is not none %}
            memory: "{{ grafana_memory_limit }}"
{% endif %}
{% if grafana_cpu_limit is defined and grafana_cpu_limit is not none %}
            cpu: "{{ grafana_cpu_limit }}"
{% endif %}
        ports:
        - name: grafana-http
          containerPort: 3000
        volumeMounts:
        - mountPath: "/var/lib/grafana"
          name: grafana-data
        - mountPath: "/etc/grafana"
          name: grafana-config
        - mountPath: /etc/tls/private
          name: grafana-tls-secret
        - mountPath: /etc/proxy/secrets
          name: grafana-proxy-secrets
        - mountPath: /etc/grafana/provisioning/datasources
          name: grafana-datasources
{% if grafana_dashboard_configmap is defined and grafana_dashboard_configmap is not none %}
        - mountPath: /etc/grafana/provisioning/dashboards
          name: grafana-dashboards
{% endif %}
      volumes:
      - name: grafana-config
        configMap:
          name: grafana-config
      - name: grafana-datasources
        secret:
          secretName: grafana-datasources
          defaultMode: 420
      - name: grafana-proxy-secrets
        secret:
          secretName: grafana-proxy
      - name: grafana-tls-secret
        secret:
          secretName: grafana-tls
      - name: grafana-data
{% if grafana_storage_type == 'pvc' %}
        persistentVolumeClaim:
          claimName: {{ grafana_service_account }}-pvc
{% else %}
        emptydir: {}
{% endif %}
{% if grafana_dashboard_configmap is defined and grafana_dashboard_configmap is not none %}
      - configMap:
          defaultMode: 420
          name: grafana-dashboards
        name: grafana-dashboards
{% endif %}
